@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');
* {
	box-sizing: border-box;
}

html, body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #FAFAFA;
}

.wrp {
	margin: 0 auto;
}
.hidden{
	display: none;
}
h1{
	font-size: 45px;
	font-weight: 800;
}
h2{
	font-size: 42px;
	font-weight: bold;
}
h3{
	font-size: 16px;
	font-weight: normal;
}
h4{
	font-size: 13px;
	font-weight: normal;
}

.btn{
	font-size: 12px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 55px;
	text-decoration: none;
	&.primary{
		color: #949494;
		background-color: #ffffff;
		border: 1px solid #F2F2F2;
		border-radius: 10px;
		&.color{
			background-color: #F9AC3D;
			color: #181205;
			&:hover{
				background-color: #F28E00;
				color: #181205;
			}
		}
		&:hover{
			color: #ffffff;
			background-color: #2F80ED;
		}
	}
	&.second{
		background-color: #F9AC3D;
		color: #181205;
		border-radius: 27px;
		&.white{
			background-color: transparent;
			border: 1px solid #ffffff;
			color: #ffffff;
			&:hover{
				color: #ffffff;
				background-color: #2F80ED;
			}
		}
		&:hover{
			background-color: #F28E00;
		}
	}
}




