.about{
	background-color: #ffffff;
	position: relative;
	padding: 70px 30px 100px;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background-image: url("img/bg-lines.png");
		background-repeat: repeat-y;
		background-size: 1200px 100%;
		background-position: center;
		width: 100%;
		height: 100%;
		pointer-events: none;
	}
	&:after{
		content: '';
		position: absolute;
		bottom: -150px;
		right: 100px;
		background-image: url("img/about-bg.png");
		background-repeat: no-repeat;
		background-size: 100%;
		width: 230px;
		height: 275px;
	}
	&__inner{
		width: 100%;
		max-width: 1170px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: minmax(280px, 570px) minmax(280px,400px);
		grid-column-gap: 100px;
	}
	&__title{
		margin: 0 0 30px;
	}
	&__img{
		box-shadow: 0 10px 20px rgba(#000,.2);
		border-radius: 10px;
		overflow: hidden;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
		}
	}

	@include r(1024){
		padding: 70px 30px;
		&__inner{
			grid-column-gap: 30px;
		}
	}
	@include r(640){
		padding: 60px 30px;
		&:after{
			display: none;
		}
		&__inner{
			grid-template-columns: 1fr;
			grid-template-areas: "txt" "img";
		}
		&__txt{
			grid-area: txt;
		}
	}
}