.nav{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	padding: 0 20px;
	&__inner{
		width: 100%;
		max-width: 1170px;
		margin: 0 auto;
		padding: 10px 0;
		position: relative;
		z-index: 10;
		display: flex;
		align-items: center;

	}
	&__logo{
		grid-area: logo;
		width: 100%;
		max-width: 190px;
		display: none;
	}
	&__menu{
		grid-area: menu;
		max-width: 431px;
		width: 100%;

	}
	&__btn{
		grid-area: btn;
		display: flex;
		align-items: center;
		width: 100%;
		max-width: 302px;
		margin-right: 0;
		margin-left: auto;
		.btn{
			height: 35px;
			&.white{
				margin-right: 42px;
			}
		}
	}
}