.salons{
	background-color: #ffffff;
	padding: 100px 20px;
	position: relative;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background-image: url("img/bg-lines.png");
		background-repeat: repeat-y;
		background-size: 1200px 100%;
		background-position: center;
		width: 100%;
		height: 100%;
		pointer-events: none;
	}
	&:after{
		content: '';
		position: absolute;
		bottom: -100px;
		right: 0;
		background-image: url("img/scissors.png");
		background-size: 100%;
		background-repeat: no-repeat;
		width: 320px;
		height: 362px;
	}
	&__inner{
		position: relative;
		z-index: 10;
		max-width: 1170px;
		width: 100%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(2,minmax(280px,370px)) minmax(200px,1fr);
		grid-template-areas: none;
		grid-column-gap: 30px;
	}
	&__item{
		max-width: 370px;
		width: 100%;
		border-radius: 10px;
		box-shadow: 0 2px 10px -5px rgba(#000,.6);
		overflow: hidden;
		position: relative;
		background-color: #ffffff;
	}
	&__img{
		width: 100%;
		height: 243px;
		margin-bottom: 20px;
		position: relative;
	}
	&__txt{
		padding: 10px;
	}
	&__adress{
		margin-bottom: 20px;
		padding: 0 20px;
		h4{
			color: #949494;
			margin: 0;
		}
		p{
			margin: 0;
		}
	}
	.primary{
		margin-bottom: 10px;
	}
	&__title{
		padding-left: 60px;
		h2{
			margin-bottom: 20px;
			line-height: 1;
		}
		p{
			max-width: 300px;
		}
	}
	&__label{
		position: absolute;
		top: 10px;
		right: 10px;
		color: #fff;
		font-size: 12px;
		border: 1px solid #fff;
		padding: 5px 19px;
		border-radius: 27px;
		display: block;
		text-decoration: none;
		z-index: 10;
		&:hover{
			background-color: #F9AC3D;
			border: none;
			color: #000;
		}
	}
	@include r(1024) {
		&__title{
			padding-left: 0;
		}
	}
	@include r(768){
		padding: 60px 20px;
		&:after{
			content: '';
			position: absolute;
			bottom: -100px;
			right: 0;
			background-image: url("img/scissors.png");
			background-size: 100%;
			background-repeat: no-repeat;
			width: 220px;
			height: 262px;
		}
		&__inner{
			grid-template-columns: repeat(2,minmax(280px,370px));
			grid-template-areas: "title title" "item item";
			grid-column-gap: 30px;
		}
		&__title{
			grid-area: title;
			h2{
				margin: 0 0 20px;
				line-height: 1;
			}
		}
	}
}